Button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#000000, #234658);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}


Button:hover{
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: Left;
}

.menu-bar .menu-button:hover, .menu-bar .menu-button:focused, .menu-bar .menu-button:showing {
    -fx-background: black ;
    -fx-opacity: 0.7;
    -fx-text-fill: white;
}

/* Menu */
.menu .label {-fx-text-fill: white;}
.menu:focused {-fx-background-color: white;}
.menu:focused .label {-fx-text-fill: black;}
/* Menu Bar */
.menu-bar {-fx-background-color: black ;}
/* Menu Item */
.menu-item .label {-fx-text-fill: white;}
.menu-item:selected{-fx-text-fill: white}
.menu-item:focused {-fx-background-color: #f4f9fe;}
.menu-item:focused .label {-fx-text-fill: black;}

/* .radio-menu-item:focused >.left-container>.dot{-fx-background-color: #234658;} */
.radio-menu-item:focused:selected>.left-container>.radio {
    -fx-background-color: -fx-mark-color;
}


.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: black;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    /*    -fx-padding: 0.666667em 0.083333em 0.666667em 0.083333em;  8 1 8 1 */
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}

.choice-box .context-menu { -fx-background-color: black; }
.choice-box .menu-item:focused { -fx-background-color: #f4f9fe; }
.choice-box .menu-item > .label { -fx-text-fill: white; }
.choice-box .menu-item:focused > .label { -fx-text-fill: black; }
.choice-box > .label { -fx-text-fill: white; }
.choice-box > .label { -fx-font-weight: bold; }
.choice-box {
    -fx-background-color: black;
    -fx-mark-color: #f4f9fe;
}

#gradient {
    z-index: -1;
    position: fixed;
    top: 0;
    bottom: 0;
    color: #fff;
    background: linear-gradient(#EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
}

@keyframes Gradient {
    0% {background-position: 0% 50%}
    50% {background-position: 100% 50%}
    100% {background-position: 0% 50%}
}